.container {
          margin-top: 3rem;
          margin-bottom: 3rem;
          cursor: pointer;
}

.container .navbar {
          width: 100%;
          height: 100px;
          background-color: rgb(56, 50, 50);
          margin-bottom: 3px;
}

.container .navbar .searchboxSubmit {
          display: flex;
          justify-content: center;
          margin-right: 330px;
}

@media screen and (mix-width:991) {
          .container .navbar {
                    display: flex;
          }

          .container .navbar .searchboxSubmit {}
}

.container img {
          margin-left: 10px;
          width: 70px;
          height: 70px;
}

.container .input #searchbox {
          width: 250px;
          height: 38px;
          border-radius: 5px;
          padding-left: 10px;
          font-size: 23px;
}