.container {
          margin-top: 3rem;
          margin-bottom: 3rem;
          cursor: pointer;
}
.container .input{
          margin-right: 10px;
          margin-bottom: 15px;
          cursor: pointer;
}
.container .button{
          margin-bottom: 15px;
}

#searchbox {
          width: 200px;
          height: 37px;
          border-radius: 5px;
          padding-left: 10px;
          font-size: 23px;
}